<p style="font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif;font-size:14px;">Dear ##admin_name##,</p>
<p style="font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif;font-size:14px;">New Contact has been received:</p>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="18%" style="font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif;font-size:14px;padding-bottom:10px;">Name</td>
    <td width="2%" style="font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif;font-size:14px;padding-bottom:10px;">:</td>
    <td width="80%" style="font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif;font-size:14px;padding-bottom:10px;">##first_name##</td>
  </tr>
  <tr>
    <td width="18%" style="font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif;font-size:14px;padding-bottom:10px;">Company Name</td>
    <td width="2%" style="font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif;font-size:14px;padding-bottom:10px;">:</td>
    <td width="80%" style="font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif;font-size:14px;padding-bottom:10px;">##company_name##</td>
  </tr>
  
  <tr>
    <td width="18%" style="font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif;font-size:14px;padding-bottom:10px;">Address 1</td>
    <td width="2%" style="font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif;font-size:14px;padding-bottom:10px;">:</td>
    <td width="80%" style="font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif;font-size:14px;padding-bottom:10px;">##address1##</td>
  </tr>
  
  <tr>
    <td width="18%" style="font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif;font-size:14px;padding-bottom:10px;">Address 2</td>
    <td width="2%" style="font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif;font-size:14px;padding-bottom:10px;">:</td>
    <td width="80%" style="font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif;font-size:14px;padding-bottom:10px;">##address2##</td>
  </tr>
  
  <tr>
    <td style="font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif;font-size:14px;padding-bottom:10px;">City</td>
    <td style="font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif;font-size:14px;padding-bottom:10px;">:</td>
    <td style="font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif;font-size:14px;padding-bottom:10px;">##city##</td>
  </tr>
  
  <tr>
    <td style="font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif;font-size:14px;padding-bottom:10px;">State</td>
    <td style="font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif;font-size:14px;padding-bottom:10px;">:</td>
    <td style="font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif;font-size:14px;padding-bottom:10px;">##state##</td>
  </tr>
  
  <tr>
    <td style="font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif;font-size:14px;padding-bottom:10px;">Zipcode</td>
    <td style="font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif;font-size:14px;padding-bottom:10px;">:</td>
    <td style="font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif;font-size:14px;padding-bottom:10px;">##zipcode##</td>
  </tr>
 
  <tr>
    <td style="font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif;font-size:14px;padding-bottom:10px;">Phone</td>
    <td style="font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif;font-size:14px;padding-bottom:10px;">:</td>
    <td style="font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif;font-size:14px;padding-bottom:10px;">##phone##</td>
  </tr>
  
  <tr>
    <td style="font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif;font-size:14px;padding-bottom:10px;">Email</td>
    <td style="font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif;font-size:14px;padding-bottom:10px;">:</td>
    <td style="font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif;font-size:14px;padding-bottom:10px;">##email##</td>
  </tr>
  
  <tr>
    <td style="font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif;font-size:14px;">Comment/Question</td>
    <td style="font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif;font-size:14px;">:</td>
    <td style="font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif;font-size:14px;">##comment##</td>
  </tr>
</table>
<p style="font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif;font-size:14px;">Regards,<br />
  kybernetworks.com Support Team
</p>