<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>ThePartyBook</title>
</head>

<body>
<p style="font-family:Verdana, Geneva, sans-serif;font-size:12px;">Dear ##member_name##,</p>
<p style="font-family:Verdana, Geneva, sans-serif;font-size:12px;">You are registered with ThePartyBook.com. Below are your registration details.</p>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="17%" style="font-family:Verdana, Geneva, sans-serif;font-size:12px;">Username</td>
    <td width="3%" style="font-family:Verdana, Geneva, sans-serif;font-size:12px;">:</td>
    <td width="80%" style="font-family:Verdana, Geneva, sans-serif;font-size:12px;">##username##</td>
  </tr>
  <tr>
    <td style="font-family:Verdana, Geneva, sans-serif;font-size:12px;">Password</td>
    <td style="font-family:Verdana, Geneva, sans-serif;font-size:12px;">:</td>
    <td style="font-family:Verdana, Geneva, sans-serif;font-size:12px;">##password##</td>
  </tr>
  <tr>
    <td style="font-family:Verdana, Geneva, sans-serif;font-size:12px;">First Name</td>
    <td style="font-family:Verdana, Geneva, sans-serif;font-size:12px;">:</td>
    <td style="font-family:Verdana, Geneva, sans-serif;font-size:12px;">##first_name##</td>
  </tr>
  <tr>
    <td style="font-family:Verdana, Geneva, sans-serif;font-size:12px;">Last Name</td>
    <td style="font-family:Verdana, Geneva, sans-serif;font-size:12px;">:</td>
    <td style="font-family:Verdana, Geneva, sans-serif;font-size:12px;">##last_name##</td>
  </tr>
  <tr>
    <td style="font-family:Verdana, Geneva, sans-serif;font-size:12px;">Address1</td>
    <td style="font-family:Verdana, Geneva, sans-serif;font-size:12px;">:</td>
    <td style="font-family:Verdana, Geneva, sans-serif;font-size:12px;">##address1##</td>
  </tr>
  <tr>
    <td style="font-family:Verdana, Geneva, sans-serif;font-size:12px;">Address2</td>
    <td style="font-family:Verdana, Geneva, sans-serif;font-size:12px;">:</td>
    <td style="font-family:Verdana, Geneva, sans-serif;font-size:12px;">##address2##</td>
  </tr>
  <tr>
    <td style="font-family:Verdana, Geneva, sans-serif;font-size:12px;">Address3</td>
    <td style="font-family:Verdana, Geneva, sans-serif;font-size:12px;">:</td>
    <td style="font-family:Verdana, Geneva, sans-serif;font-size:12px;">##address3##</td>
  </tr>
  <tr>
    <td style="font-family:Verdana, Geneva, sans-serif;font-size:12px;">State</td>
    <td style="font-family:Verdana, Geneva, sans-serif;font-size:12px;">:</td>
    <td style="font-family:Verdana, Geneva, sans-serif;font-size:12px;">##state##</td>
  </tr>
  <tr>
    <td style="font-family:Verdana, Geneva, sans-serif;font-size:12px;">Suburb</td>
    <td style="font-family:Verdana, Geneva, sans-serif;font-size:12px;">:</td>
    <td style="font-family:Verdana, Geneva, sans-serif;font-size:12px;">##suburb##</td>
  </tr>
  <tr>
    <td style="font-family:Verdana, Geneva, sans-serif;font-size:12px;">city</td>
    <td style="font-family:Verdana, Geneva, sans-serif;font-size:12px;">:</td>
    <td style="font-family:Verdana, Geneva, sans-serif;font-size:12px;">##city##</td>
  </tr>
  <tr>
    <td style="font-family:Verdana, Geneva, sans-serif;font-size:12px;">Post Code</td>
    <td style="font-family:Verdana, Geneva, sans-serif;font-size:12px;">:</td>
    <td style="font-family:Verdana, Geneva, sans-serif;font-size:12px;">##zipcode##</td>
  </tr>
  <tr>
    <td style="font-family:Verdana, Geneva, sans-serif;font-size:12px;">Email</td>
    <td style="font-family:Verdana, Geneva, sans-serif;font-size:12px;">:</td>
    <td style="font-family:Verdana, Geneva, sans-serif;font-size:12px;">##email##</td>
  </tr>
  <tr>
    <td style="font-family:Verdana, Geneva, sans-serif;font-size:12px;">Phone</td>
    <td style="font-family:Verdana, Geneva, sans-serif;font-size:12px;">:</td>
    <td style="font-family:Verdana, Geneva, sans-serif;font-size:12px;">##phone##</td>
  </tr> 
</table>
<p style="font-family:Verdana, Geneva, sans-serif;font-size:12px;">Please click <a href="##site_url##">here</a> to visit the site.</p>
<p style="font-family:Verdana, Geneva, sans-serif;font-size:12px;">Regards,<br />
  ThePartyBook.com Team</p>
</body>
</html>
